<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_WQ82Lr8QvNMTZ_G6McBI4D68AmutJI0vlA&usqp=CAU"
                alt="logo" width="40px">
            <span class="fs-4 fw-bold ps-2">Shopping</span>
        </a>
    
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Product</a></li>
            <li class="nav-item"><a routerLink="/shopping-cart" class="nav-link">Shopping cart</a></li>
        </ul>
    </header>
</div>

<router-outlet></router-outlet>