<div class="container">
    <div *ngIf="!showReceipt">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Promotion</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of addedProduct; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.productName }}</td>
                    <td>
                        <img [src]="item.image" [alt]="item.productName"
                            style="width: 50px; height: 50px; object-fit: cover;">
                    </td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.promotionPrice }}</td>
                    <td>
                        <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="change()">
                    </td>
                    <td>{{ item.quantity * item.price * (100 - item.promotionPrice)/100 }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(i)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <h4>Thành tiền: {{ getTotalMoney() }}</h4>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card">
            <div class="card-header">
                Thông tin khách hàng
            </div>
            <form [formGroup]="cartForm" (ngSubmit)="submit()">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="hoten" class="form-label">Họ tên</label>
                        <input type="text" name="" id="hoten" class="form-control" formControlName="userName">
                        <span class="form-text text-danger"
                            *ngIf="cartForm.get('userName')!.touched && cartForm.get('userName')!.invalid">Tên không
                            được để trống</span>
                    </div>
                    <div class="mb-3">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <input type="number" name="" id="sdt" class="form-control" formControlName="phoneNumber">
                        <span class="form-text text-danger"
                            *ngIf="cartForm.get('phoneNumber')!.touched && cartForm.get('phoneNumber')!.invalid">Số điên
                            thoại không được để trống</span>
                    </div>
                    <div class="mb-3">
                        <label for="diachi" class="form-label">Địa chỉ</label>
                        <textarea name="" id="diachi" class="form-control" rows="3"
                            formControlName="address"></textarea>
                        <span class="form-text text-danger"
                            *ngIf="cartForm.get('address')!.touched && cartForm.get('address')!.invalid">Địa chỉ không
                            được để trống</span>
                    </div>
                    <button class="btn btn-primary"
                        [disabled]="cartForm.invalid || addedProduct.length === 0">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="showReceipt">
        <div class="alert alert-success" role="alert">
            Đơn hàng của bạn đang chờ được xác nhận, chúng tôi sẽ liên hệ sau.
        </div>
        <div class="card">
            <div class="card-header">
                Thông tin đơn hàng
            </div>
            <div class="card-body">
                <p>Họ tên: {{ cartForm.value.userName }}</p>
                <p>Số ĐT: {{ cartForm.value.phoneNumber }}</p>
                <p>Địa chỉ: {{ cartForm.value.address }}</p>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Promotion</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of addedProduct; let i = index;">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.productName }}</td>
                        <td>
                            <img [src]="item.image" [alt]="item.productName"
                                style="width: 50px; height: 50px; object-fit: cover;">
                        </td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.promotionPrice }}</td>
                        <td>
                            <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="change()" disabled>
                        </td>
                        <td>{{ item.quantity * item.price * (100 - item.promotionPrice)/100 }}</td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <h4>Thành tiền: {{ getTotalMoney() }}</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>