<div class="container">
    <div class="row">
        <div *ngFor="let item of products" class="col-3">
            <div class="card">
                <img [src]="item.image" class="card-img-top" [alt]="item.productName" style="height: 250px;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title" [innerText]="item.productName"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">{{ item.price * (100-item.promotionPrice)/100 }}</li>
                    <li class="list-group-item text-center text-decoration-line-through">{{ item.price }}</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-outline-primary w-100" (click)="addToCart(item)">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>